doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Result
    body 
        div Hey #{id}, How are you doing today? 
        div Your information
        div #{id}
        br
        div #{password}
        br
        div #{username}
        br
        div #{address}
        br

